<div class="w-full flex flex-col justify-center items-center my-3 gap-4" *ngIf="account$ | async as acc" @fadeIn>

  <div class="flex w-full flex-col justify-center items-center">
    <div class="w-full flex justify-between items-center" *ngIf="isAccountCurrentUsers">
      <!--  Account settings  -->
      <button class="app-link">
        <span class="icon icon-setting"></span>
        <span>Settings</span>
      </button>
      <!--  Logout  -->
      <button
        class="app-link"
        (click)="logout()"
      >
        <span class="icon icon-vector-1"></span>
        <span>Logout</span>
      </button>
    </div>
    <img class="shadow-lg rounded-full object-contain aspect-square w-40 md:w-60 bg-grey dark:bg-dark-grey" src="{{acc.profilePicUrl | urlTransform}}" alt="{{acc.nickname}}">
    <h2 class="text-2xl tracking-wide font-bold mt-2">{{acc.nickname}}</h2>
  </div>

  <div class="flex gap-4 sm:gap-6 md:gap-8 justify-center items-center flex-wrap">
    <span class="tag">
      Posts: {{ acc.pictureCount || 0 }}
    </span>
    <span class="tag">
      Likes: {{ likesCount || 0 }}
    </span>
    <span class="tag">
      Comments: {{ commentsCount || 0 }}
    </span>
  </div>

  <div class="grid grid-cols-2 gap-4 mt-2">
    <pp-post-preview *ngFor="let picture of (pictures$ | async); trackBy: trackByPictureId" [pic]="picture"/>
  </div>

</div>
