<div class="image-wrapper group animate-pulse w-64 h-64">
    <!-- image placeholder -->
    <div class="image-preview bg-grey dark:bg-dark-grey"></div>

    <!-- hover block skeleton -->
    <div class="data-block opacity-0 group-hover:opacity-100">
      <div class="data-piece rounded-tr-xl">
        <div class="w-4 h-6 mr-2 bg-grey dark:bg-dark-grey rounded"></div>
        <div class="w-6 h-6 bg-grey dark:bg-dark-grey rounded"></div>
      </div>
      <div class="data-piece rounded-tl-xl">
        <div class="w-6 h-6 bg-grey dark:bg-dark-grey rounded"></div>
        <div class="w-4 h-6 ml-2 bg-grey dark:bg-dark-grey rounded"></div>
      </div>
    </div>
</div>