<div class="pp-shadow w-full bg-surface-100 dark:bg-dark-surface-100 rounded-xl flex flex-col gap-2" *ngIf="pic">

  <!--  Image  -->
  <div class="flex rounded-t-xl justify-center items-center cursor-pointer"
       ppOpenQueryModal
       [modalMode]="QueryModalEnum.VIEW_PICTURE"
       [id]="pic.id"
  >
    <img class="w-full rounded-t-xl select-none" @fadeIn src="{{pic.url | urlTransform}}" alt="{{pic.name}}">
  </div>

  <!--  Controls  -->
  <div class="flex justify-between items-center px-3">

      <a class="flex flex-row justify-between items-center gap-1" routerLink="/account/{{pic.account.id}}">
        <img class="w-8 h-8 rounded-3xl object-center object-contain bg-grey dark:bg-dark-grey" src="{{pic.account.profilePicUrl | urlTransform}}" alt="{{pic.account.nickname}}">
        <p class="font-bold h-min lh flex justify-center items-center sm:text-xl text-dark dark:text-dark-dark">{{pic.account.nickname}}</p>
      </a>

      <div class="flex items-start gap-1">
        <pp-mod-btns [pic]="pic"></pp-mod-btns>
        <pp-like-btn [(pic)]="pic"/>
        <pp-share-btn [(pic)]="pic"/>
      </div>

    </div>

  <!--  Description  -->
  <p class="text-md px-3 text-dark dark:text-dark-dark" *ngIf="pic.description">
    {{pic.description}}
  </p>

  <!--  Tags  -->
  <p class="flex gap-2 px-3 text-dark dark:text-dark-dark" *ngIf="pic.tags?.length">
    <pp-tag *ngFor="let tag of pic.tags" [tag]="tag"/>
  </p>

  <!--  Comments  -->
  <ng-container  *ngIf="pic.commentCount && pic.comments?.length">
    <p class="font-bold text-lg px-3 text-dark dark:text-dark-dark">Comments</p>

    <div class="flex flex-col gap-2 px-3 text-dark dark:text-dark-dark">
      <pp-mini-comment [comm]="pic.comments[0]" />
    </div>
  </ng-container>

  <!--  Comment form  -->
  <div
    ppOpenQueryModal
    [modalMode]="QueryModalEnum.VIEW_PICTURE"
    [id]="pic.id"
    class="cursor-pointer bg-surface-100 dark:bg-dark-surface-100 border-1 rounded-md text-xs text-gray-400 border-grey flex items-center justify-between m-3 mt-1 px-3">
    <p>Comment this...</p>
    <span class="icon-vector text text-lg"></span>
  </div>

</div>
