<div 
    [ngClass]="switchValue ? 'bg-cta-300 dark:bg-dark-cta-300 dark:bg-cta-300' : 'bg-surface-600 dark:bg-dark-surface-600'" 
    class="w-16 h-9 border border-dark rounded-2xl relative transition-all duration-500 cursor-pointer"
    (click)="switchValue = !switchValue; valueChanged.emit(switchValue)">
    
    <div 
        [ngStyle]="{'left': switchValue ? '30px' : '3px'}" 
        class="w-7 h-7 bg-surface-200 dark:bg-dark-surface-200 absolute rounded-2xl transition-all duration-500"
        style="top: 3px;">
    </div>
</div>