<p-dialog header="Share to... " [(visible)]="dialogVisible" [draggable]="false" [showHeader]="false" [blockScroll]="true">
    <div class="w-96 overflow-hidden p-5 flex items-center flex-col bg-surface-400 dark:bg-dark-surface-400">
        <div class="w-full flex">
            <span class="w-full text-center text-2xl pb-3">Share</span>
            <button class="m-0 icon-cancel text-2xl absolute right-3" (click)="closeDialog()"></button>
        </div>
        <div class="w-full pb-3 flex items-center flex-row select-none overflow-auto no-scrollbar" (scroll)="onScroll($event)" #scrollCont>
            <div *ngFor="let share of shareOptions" class="flex flex-col cursor-pointer p-2 m-1 rounded-lg hover:bg-surface-500 dark:hover:bg-dark-surface-500 btn" (click)="closeDialog(share.link)">
                <div class="flex justify-center text-5xl pb-2" [class]="[share.color, share.icon]"></div>
                <span class="text-center">{{share.website}}</span>
            </div>
            <div 
                class="w-8 h-8 absolute right-1 top-[42%] rounded-full bg-dark dark:bg-dark-dark p-3 flex justify-center items-center cursor-pointer" 
                (click)="scrollCont.scrollBy({ left: 273, behavior: 'smooth' })"
                [ngClass]="scrollLeft >= scrollCont.scrollWidth - scrollCont.clientWidth - 10 ? 'invisible' : 'visible'"
                >
                <div class="icon-angle-right text-xl text-surface-600 dark:text-dark-surface-600"></div>
            </div>
            <div 
                class="w-8 h-8 absolute left-1 top-[42%] rounded-full bg-dark dark:bg-dark-dark p-3 flex justify-center items-center cursor-pointer" 
                (click)="scrollCont.scrollBy({ left: -273, behavior: 'smooth' })"
                 *ngIf="scrollLeft >= 10"
                >
                <div class="icon-angle-left text-xl text-surface-600 dark:text-dark-surface-600"></div>
            </div>
        </div>
    </div>
</p-dialog>

<button
  [ngClass]="{
    cssClass: true,
    'm-0 icon-dark icon-share cursor-pointer': true,
  }"
  (click)="openDialog()"
  class="text-dark dark:text-dark-dark"
>
</button>
